@model IEnumerable<VillaNumber>
<center>
    <div class="w-75 card border-3 p-2 text-lg-center">
        <div class="card-header bg-success rounded-3 border-2 bg-gradient">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="text-light text-center">Villa Number List</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body border w-75 p-4">
        <div class="row pb-3">
            <div class="col-6 text-end offset-6">
                <a asp-controller="VillaNumber" asp-action="Create" class="btn btn-dark">Create New Villa Number <i class="bi bi-plus-circle"></i></a>
            </div>
        </div>
        <table class="table table-bordered table-striped w-75">
            <thead>
                <tr>
                    <th>
                        Villa Number
                    </th>
                    <th>
                        Special Details
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var villanumber in Model)
                {
                    <tr>
                        <td>
                            @villanumber.Villa_Number
                        </td>
                        <td>@villanumber.SpecialDetails</td>
                        <td>
                            <div class="w-100 row">
                                <div class="col-4">
                                    <a asp-controller="VillaNumber" asp-action="Update"
                                       asp-route-villaNumberId="@villanumber.Villa_Number" class="btn btn-success">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-4">
                                    <a data-bs-toggle="modal" data-bs-target="#deleteConfirmModal"
                                       data-url="@Url.Action("Delete", "VillaNumber", new { Id = villanumber.Villa_Number })" class="btn btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</center>
